* {
  margin: 0;
  padding: 0;
  background-color: #201f1f;
  color: white;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI",
    " Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer {
  background: #2b2929;
}
.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.nav a,
.pnav {
  display: block;
  padding: 5vh;
  background-color: white;
  text-decoration: none;
  color: #191c26;
}
.nav a:hover {
  background-color: #524b49;
}
.nav ul li ul {
  display: none;
}
.nav ul li p:hover + ul,
.nav ul li ul:hover {
  display: block;
}
.nav {
  position: fixed;
  top: 0;
  right: 0;
}
.pnav:hover {
  background-color: rgba(255, 0, 0, 0.445);
}
.top {
  padding-bottom: 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer-distributed {
  background: #2b2929;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

section {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

/* Footer left */

.footer-distributed .footer-left {
  background: #2b2929;
  float: left;
}

/* The company logo */

.footer-distributed h3 {
  background: #2b2929;
  color: #ffffff;
  font: normal 36px "Roboto", cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span {
  background: #2b2929;
  color: #8b0f06;
}

/* Footer links */

.footer-distributed .footer-links {
  background: #2b2929;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a {
  background: #2b2929;
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  background: #2b2929;
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
  background: #2b2929;
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  background: #2b2929;
  float: right;
}

.footer-distributed .footer-right p {
  background: #2b2929;
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */

.footer-distributed form {
  background: #2b2929;
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}
.footer-icons img {
  height: 5vh;
}
.top img {
  height: 55vh;
  border-bottom: rgb(150, 136, 136) solid 1px;
}
